.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 700px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #60bfcb;
}

.modal-header h2 {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 0;
  background-color: #f2f2f2;
}

.modal-footer button {
    padding: 6px 14px;
    width: 150px;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #757575;
    border: none;
    border-radius: 4px;
}

.modal-footer button[type="submit"] {
  background-color: #176db8;
}

.modal-header .close-button {
  padding: 6px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal-content-form {
  padding: 20px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: overlay;
  resize: vertical;
}

.modal-content .modal-content__name input[type="text"] {
  width: unset;
}

.modal-content__name {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.modal-content__criteria {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content__criteria div {
  width: 100%;
}

.modal-content__criteria button {
  padding: 6px 14px;
  width: fit-content;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #797979;
  border: none;
  border-radius: 4px;
}

.modal-content input[type="text"],
.modal-content input[type="number"], 
.modal-content select {
  padding: 6px;
  margin: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.criteria-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 30px;
  grid-gap: 8px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.criteria-row div {
  display: flex;
}

.criteria-row div.criteria-row-date {
  display: grid;
  grid-template-columns: calc(30% - 4px) calc(30% - 4px) calc(40% - 8px);
  grid-gap: 8px;
}

.criteria-row select {
  flex: 1;
}

.criteria-row button {
  padding: 0 0 4px 1px;
  width: 100%;
  height: 30px;
  color: #fff;
  font-size: 30px;
  line-height: 20px;
  font-weight: 500;
  background-color: #f04682;
  border: none;
  border-radius: 4px;
}

.modal-content .criteria-section {
  margin-top: 15px;
}

.modal-content .criteria-section label {
  font-weight: bold;
  font-size: 16px;
}

.modal-content label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 6px;
  display: inline-block;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.non-modal {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.non-modal h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}